In [70]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
auto_MPG = pd.read_excel("AutoMPG_data.xlsx")
auto_MPG.head(5)

,GallonsPer100Miles,GallonsPer100MilesTo1981,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Year70To81,Origin,Origin.Eq.1,Origin.Eq.2,Origin.Eq.3,Name
0,5.555556,5.555556,18.0,8,3.07,1.30,3.504,12.0,70,1,1,1,0,0,chevrolet chevelle malibu
1,6.666667,6.666667,15.0,8,3.50,1.65,3.693,11.5,70,1,1,1,0,0,buick skylark 320
2,5.555556,5.555556,18.0,8,3.18,1.50,3.436,11.0,70,1,1,1,0,0,plymouth satellite
3,6.250000,6.250000,16.0,8,3.04,1.50,3.433,12.0,70,1,1,1,0,0,amc rebel sst
4,5.882353,5.882353,17.0,8,3.02,1.40,3.449,10.5,70,1,1,1,0,0,ford torino

In [71]:

print(auto_MPG['GallonsPer100Miles'] - auto_MPG['GallonsPer100MilesTo1981'])

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
387    NaN
388    NaN
389    NaN
390    NaN
391    NaN
Length: 392, dtype: float64

In [72]:
df = auto_MPG.drop(columns=['GallonsPer100MilesTo1981','Year70To81','Origin','Origin.Eq.1','Origin.Eq.2','Origin.Eq.3','Name'], axis=1)
df

,GallonsPer100Miles,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year
0,5.555556,18.0,8,3.07,1.30,3.504,12.0,70
1,6.666667,15.0,8,3.50,1.65,3.693,11.5,70
2,5.555556,18.0,8,3.18,1.50,3.436,11.0,70
3,6.250000,16.0,8,3.04,1.50,3.433,12.0,70
4,5.882353,17.0,8,3.02,1.40,3.449,10.5,70
...,...,...,...,...,...,...,...,...
387,3.703704,27.0,4,1.40,0.86,2.790,15.6,82
388,2.272727,44.0,4,0.97,0.52,2.130,24.6,82
389,3.125000,32.0,4,1.35,0.84,2.295,11.6,82
390,3.571429,28.0,4,1.20,0.79,2.625,18.6,82
391,3.225806,31.0,4,1.19,0.82,2.720,19.4,82

In [73]:
X = df.drop('GallonsPer100Miles', axis=1)
X['Intercept'] = 1
y = df['GallonsPer100Miles']
X

,MPG,Cylinders,Displacement100ci,Horsepower100,Weight1000lb,Seconds0to60,Year,Intercept
0,18.0,8,3.07,1.30,3.504,12.0,70,1
1,15.0,8,3.50,1.65,3.693,11.5,70,1
2,18.0,8,3.18,1.50,3.436,11.0,70,1
3,16.0,8,3.04,1.50,3.433,12.0,70,1
4,17.0,8,3.02,1.40,3.449,10.5,70,1
...,...,...,...,...,...,...,...,...
387,27.0,4,1.40,0.86,2.790,15.6,82,1
388,44.0,4,0.97,0.52,2.130,24.6,82,1
389,32.0,4,1.35,0.84,2.295,11.6,82,1
390,28.0,4,1.20,0.79,2.625,18.6,82,1
391,31.0,4,1.19,0.82,2.720,19.4,82,1

In [74]:
correlation_matrix = X.corr()
print("Correlation matrix:")
print(correlation_matrix)

Correlation matrix:
                        MPG  Cylinders  Displacement100ci  Horsepower100  \
MPG                1.000000  -0.777618          -0.805127      -0.778427
Cylinders         -0.777618   1.000000           0.950823       0.842983
Displacement100ci -0.805127   0.950823           1.000000       0.897257
Horsepower100     -0.778427   0.842983           0.897257       1.000000
Weight1000lb      -0.832244   0.897527           0.932994       0.864538
Seconds0to60       0.423329  -0.504683          -0.543800      -0.689196
Year               0.580541  -0.345647          -0.369855      -0.416361
Intercept               NaN        NaN                NaN            NaN

                   Weight1000lb  Seconds0to60      Year  Intercept
MPG                   -0.832244      0.423329  0.580541        NaN
Cylinders              0.897527     -0.504683 -0.345647        NaN
Displacement100ci      0.932994     -0.543800 -0.369855        NaN
Horsepower100          0.864538     -0.689196 -0.416361        NaN
Weight1000lb           1.000000     -0.416839 -0.309120        NaN
Seconds0to60          -0.416839      1.000000  0.290316        NaN
Year                  -0.309120      0.290316  1.000000        NaN
Intercept                   NaN           NaN       NaN        NaN

In [75]:
coefficients = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)
mean_y = np.mean(y)
mean_x_values = X.mean()
intercept = mean_y - np.dot(coefficients[:-1], mean_x_values[:-1])
print("Manually calculated intercept:", intercept)
print("Coefficients:", coefficients)

Manually calculated intercept: 7.389653389006277
Coefficients: [-0.10755285  0.10372861 -0.08769938  1.13335449  0.37831545  0.04305147
 -0.04556994  7.38965339]

In [77]:
x_test = np.array([14, 8, 4.4, 2.15, 4.312, 8.5, 70])
pred_y = intercept + np.dot(coefficients[:-1], x_test)
print(pred_y)

7.571915295528362